{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h2>Contact Us</h2>
    <p>Feel free to reach out to us for any inquiries.</p>
<!-- When we wanna create a form we use form tag -->
    <form>
        <!-- We use label so user understands what they should enter in the input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <!-- br tag ot break tag works like \n but in HTML -->
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <br>
        <button type="submit">Send</button>
    </form>
{% endblock %}
